body {
    margin: 0;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

canvas {
    background: #1e1e1e;
    border: 2px solid #444;
    display: block;
    margin: 0 auto;
}

#startButton, #skipButton {
    display: block;
    margin: 10px auto 0 auto;
    width: 800px; /* same as canvas */
    padding: 12px;
    font-size: 18px;
    background-color: #222;
    color: #fff;
    border: 2px solid #444;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

#startButton:hover, #skipButton:hover {
    background-color: #555;
    color: #fff;
}


